.intro_info
{
    display: flex;
}
.intro_info p
{
    float: left;
    margin-left: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro_info img
{
    height: 200px;
    width: 300px;
    float: left;
}
.grid-3
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hobbies_info
{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.hobbies_info div 
{
    height: 200px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 4px 7px grey;
    transition-property: all;
    transition-duration: 1s;
}
section.secciones {padding-top: 30px;}
@media only screen and (max-width:768px)
{
    .intro_info
    {
        text-align: justify;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .intro_info p{margin: 20px 0 0 0;font-size: 28px!important;}
    .info h1 
    {
        text-align: center;
        font-size: 35px!important;
    }
    .intro_info img 
    {
        width: 100%;
        height: 300px;
    }
    .grid-3
    {
        display: flex;
        flex-direction: column;
    }
    .hobbies_info{margin-top: 30px;}
    .hobbies_info h2{font-size: 30px!important;}
    .hobbies_info div   
    {   
        width: 100%;
        height: 250px;
    }
    #arts_image:hover
    {
        background-image: url("../src/images/me_adelle.png");
        background-position: 0 20%;
    }

    #esports_image:hover
    {
        background-image: url("../src/images/me_nrg.png");
        background-size: contain;
    }

    #tech_image:hover
    {
        background-image: url("../src/images/me_tech.png");
        background-position: 0 30%;
    }
}
/*Imagenes*/
#arts_image
{background-image: url("../src/images/arts_image.jpg");}
#esports_image
{background-image: url("../src/images/esports-logo.png");}
#tech_image
{background-image: url("../src/images/tech.jpg");}

/*Animaciones*/
#arts_image:hover
{
    background-image: url("../src/images/me_adelle.png");
}

#esports_image:hover
{
    background-image: url("../src/images/me_nrg.png");
    background-size: contain;
}

#tech_image:hover
{
    background-image: url("../src/images/me_tech.png");
}