/*Texto*/
.legends_text
{
    width: 80%;
    height: 50vh;
    margin-bottom: 20px;   
}

.legends_text h3
{
    font-size: 35px;
    font-weight: 150;
    margin-top: 0;
    margin-bottom: 10px;
}
.legends_text p 
{
    font-style: normal;
    font-size: 20px;
}
.legends_text i{margin-top: 10px;}
.legends_text_header
{
    margin: 0;
    position: relative;
    display: flex;
}
@media only screen and (max-width:768px),
                    (min-device-width: 768px) 
                    and (max-device-width: 1024px)
                    and (orientation: portrait)
                    and (-webkit-min-device-pixel-ratio: 2)
{
    .legends_text
    {
        height: max-content;
        margin-bottom: 50px;
    }
    .legends_text h3{font-size: 40px;margin-bottom: 5px;}
    .legends_text i{font-size: 30px;}
}

/*Imagenes de Leyendas*/
.legends_pics
{
    height: 50vh;
    width: 30%;
    float: left;
    margin-right: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 10px 5px grey;
    border-radius: 10px;
}
@media only screen and (max-width:728px),
(min-device-width: 768px) 
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2)
{
    .legends_pics
    {
        margin: 20px 0 30px 0;
        width: 100%;
    }
    .legends h2
    {
        font-size: 50px!important;
        margin-bottom: 20px!important;
    }
}

.legends_pics#bangalore_pic
{
    position: relative;
    background-image: url("../src/images/bangalore.jpg");
} 
.legends_pics#bloodhound_pic
{
    position: relative;
    background-image: url("../src/images/bloodhound.jpg");
} 
.legends_pics#caustic_pic
{
    position: relative;
    background-image: url("../src/images/caustic.jpg");
} 
.legends_pics#crypto_pic
{
    position: relative;
    background-image: url("../src/images/crypto.jpg");
} 
.legends_pics#gibraltar_pic
{
    position: relative;
    background-image: url("../src/images/gibraltar.png");
} 
.legends_pics#horizon_pic
{
    position: relative;
    background-image: url("../src/images/horizon.jpg");
} 
.legends_pics#lifeline_pic
{
    position: relative;
    background-image: url("../src/images/lifeline.jpg");
} 
.legends_pics#loba_pic
{
    position: relative;
    background-image: url("../src/images/loba.jpg");
}   
.legends_pics#mirage_pic
{
    position: relative;
    background-image: url("../src/images/mirage.jpg");
    background-position: 50% 0 !important;
} 

.legends_pics#octane_pic
{
    position: relative;
    background-image: url("../src/images/octane.jpg");
} 

.legends_pics#pathfinder_pic
{
    position: relative;
    background-image: url("../src/images/pathfinder.jpg");
} 
.legends_pics#rampart_pic
{
    position: relative;
    background-image: url("../src/images/rampart.jpg");
    background-position: 100% 0!important;
} 
.legends_pics#revenant_pic
{
    position: relative;
    background-image: url("../src/images/revenant.jpg");
} 
.legends_pics#wattson_pic
{
    position: relative;
    background-image: url("../src/images/wattson.jpg");
} 
.legends_pics#wraith_pic
{
    position: relative;
    background-image: url("../src/images/wraith.jpg");
} 

/*Legends Icon*/
.tracker_legends_icon
{
    height: 3.5vh;
    width: 3.5vh;
    background-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 3px;
    right: 2px;
    margin-right: 5px;
}
.attack_legends_icon
{
    height: 3.5vh;
    width: 3.5vh;
    background-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 3px;
    right: 2px;
    margin-right: 5px;
}
.support_legends_icon
{
    height: 3.5vh;
    width: 3.5vh;
    background-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 3px;
    right: 2px;
    margin-right: 5px;
}
.defense_legends_icon
{
    height: 3.5vh;
    width: 3.5vh;
    background-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 3px;
    right: 2px;
    margin-right: 5px;
}

