.esconder 
{
    display: none;
}

div.weapons_row
{
    /* display: table;
    margin-left: 5%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}
.category_names
{
    position: absolute;
    font-family: 'Teko', sans-serif;
    font-size: 22px!important;
    bottom: 0;
    left: 3px;
}

.weapons_category
{
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    margin: 0 10px 35px 10px;
    box-shadow: 5px 3px 9px gray;
    transition: all .5s;
    cursor: pointer;
}
/*Weapons category images*/
#ars_image
{
    background-image: url("../src/images/ars.svg");
}
#smgs_image
{
    background-image: url("../src/images/smgs.svg");
}
#lmgs_image
{
    background-image: url("../src/images/lmgs.svg");
}
#snipers_image
{
    background-image: url("../src/images/snipers.svg");
}
#shotguns_image
{
    background-image: url("../src/images/shotguns.svg");
}
#pistols_image
{
    background-image: url("../src/images/pistols.svg");
}


div.weapons_category:hover
{
    transform: scale(1.05,1.05);
}
article.weapons_info p
{
    font-style: normal;
}

article.weapons_info
{
    display: table;
}
div.weapons h3
{
    font-style: italic;
    font-size: 35px;
    margin-top: 250px;
}
article.weapons_info h3:first-child
{
    margin-top: 10px;
}
article.weapons_info table
{
    float: left;
    width: 50%;
}

/*Sidebar*/
section.seccion_lateral
{
    
    width: 100%;
    position: relative;
    background-color: transparent;
    overflow-x: hidden;
    padding-top: 20px;
    flex-direction: row;
}
section.seccion_lateral img.weapons_image_sidebar
{
    height: 90px;
    width: 55%;
    margin: 0 20px 15px 20px;
    cursor: pointer;
    transition: all 1s;
}
/*Animaciones Sidebar*/
section.seccion_lateral img.weapons_image_sidebar:hover
{
    transform: scale(1.25,1.25);
}
/*Imagenes*/
img.weapons_info_images
{
    float: left;
    width: 35%;    
}
article#weapons_info_smgs img.weapons_info_images
{
    float: left;
    width: 35%;   
    height: 160px; 
}

img.ammo_icons
{
    margin-left: 10px;
    width: 25px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*Table Stats*/
table.stats_table
{
    border-collapse: collapse;
    margin: 0px 30px 30px 30px

}

table.stats_table td, th
{
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}
